[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "relife2"
version = "1.0"
requires-python = ">=3.11"
dependencies = [
    "numpy ==1.26.4",
    "scipy ==1.13.0",
    "matplotlib ==3.9.0",
    "typing-extensions == 4.12.2",
]

[tool.setuptools.packages]
find = { }

[project.optional-dependencies]
test = [
    "pytest == 8.0.0",
]
format = [
    "nox == 2024.4.15",
    "isort == 5.13.2",
    "black == 24.4.2",
    "pylint == 3.2.2",
    "mypy == 1.10.0",
    "no-implicit-optional == 1.4",
]
doc = [
    "sphinx == 7.2.6",
    "sphinx-book-theme == 1.1.2",
    "sphinx-copybutton == 0.5.2",
    "sphinx-design == 0.5.0",
    "myst-parser == 2.0.0",
]

[tool.isort]
profile = 'black'

[tool.pylint.format]
max-line-length = "88"
max-args = 10
disable = """
    line-too-long,
"""
ignored-modules = "scipy.special"

# mypy does not recognize Tuple[Any, ...] notation (bug)
# see : https://github.com/python/mypy/issues/9459
[[tool.mypy.overrides]]
module = ["relife2.types"]
disable_error_code = ["misc"]

# current scipy is untyped and does not work with mypy
# see : https://mypy.readthedocs.io/en/stable/running_mypy.html#missing-imports
[[tool.mypy.overrides]]
module = ["scipy.*"]
ignore_missing_imports = true
