name: Build and deploy Github pages
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # fetch all history for all tags and branches

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install relife locally in dev mode
        run: | # dev version with sphinx 
          python -m pip install ".[dev]" 

      - name: Extra installs
        # pandoc is required by sphinx extensions
        run: sudo apt-get update && sudo apt-get install -y pandoc
      
      - name: Build Sphinx Doc
        run: |
          # prefer sphinx-build rather than make build (it allows more control)
          sphinx-build -M html ./doc/source ./doc/build -Ea

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages # branch on which files are commited
          folder: ./doc/build/html # The folder the action should deploy.

      - name: Save website as an artifact
        uses: actions/upload-artifact@v6
        with:
          name: website
          path: ./doc/build
          retention-days: 14

