name: Build and deploy Github pages
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Pandoc
        uses: r-lib/actions/setup-pandoc@v2
        with:
          pandoc-version: '3.1.11'

      - name: Install Python dependencies
        run: | # dev version with sphinx 
          pip install ".[dev]" 

      - name: Build Sphinx Doc
        run: |
          cd doc
          make html

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages # branch on which files are commited
          folder: ./doc/build/html # The folder the action should deploy.
